# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment variables
.env

# Vector stores
faiss_index/
vectorstore/faiss_index/

# Uploaded files
uploads/

# ML models
*.pkl

# OS / IDE
.idea/
.vscode/
.DS_Store
